[2018-08-30 08:33] tGeorgeDN opened #1 "License unknown"
Hi,
first I have to say that your package works great and we are happy to have come across it!!
We from Diebold Nixdorf would like to use it in a cross-plattform app, implemented in Flutter and therefore would need a license statement.

Could you please update the file https://github.com/knezzz/ntp/blob/master/LICENSE ?
Since many Dart packages are under BSD license, does it apply to this package

[2018-08-30 12:01] knezzz commented on #1
Added!

[2018-08-30 12:01] #1 closed, assigned to nobody

[2019-03-08 21:55] norbertkross opened #4 "The method NTP.getNtpOffset() does not work"
have the below code from the example folder but anytime it gets to ` NTP.getNtpOffset()` I think it stops working cos the print statement after that does not get printed

[code]

[2019-03-11 16:17] knezzz commented on #4
Hmmm that is really wierd why it is not working.
I got it working by using await instead of .then()

So like this:
[code]

Does that fix the issue for you? Ill look into why the Future.then is not working for this properly

[2019-04-09 10:08] NTMS2017 commented on #4
I update with your last changes but can't find the "value" ???

[code]

[2019-04-09 10:23] NTMS2017 opened #5 "NTP time & NTP Offset is not working?"
I try to run the example and I get this error.
I guess this part is not working:

**Error Part:**
Unhandled Exception: SocketException: Failed host lookup: '**pool.ntp.org**' (OS Error: No address associated with hostname, errno = 7)

**Full Error:**
[code]

[2019-04-09 12:11] knezzz commented on #4
Oh yeah, sorry my bad it should be:

[code]

[2019-04-09 12:23] NTMS2017 commented on #4
Thanks its working now.

I change int _ntpOffset = 0.0; to int _ntpOffset = 0; **no double int only** :)

But this time missing the current time. Its become null.

[2019-04-09 12:23] NTMS2017 commented on #5
same as https://github.com/knezzz/ntp/issues/4 and working now. thanks

[2019-04-09 12:23] #5 closed, assigned to nobody

[2019-04-09 12:25] NTMS2017 commented on #4
Changed to as shown below. And everything works now.

[code]

[2019-04-09 12:26] NTMS2017 opened #6 "How can I get my country time?"
I need to get my country time, so how can I change String lookUpAddress: 'pool.ntp.org', so gets my country time? Thanks

[2019-04-09 12:38] knezzz commented on #4
Okay great! Closing!

[2019-04-09 12:38] #4 closed, assigned to knezzz

[2019-04-09 12:43] knezzz commented on #6
Hi,

You can use this method to get current ntp time, this will return your local time with ntp offset, so this time will be same on every device (maybe ~50ms difference):

[code]

and you can change lookup address by passing a new address like this:
[code]

But pool.ntp.org is most widely used and it is available everywhere

[2019-04-09 13:36] NTMS2017 commented on #6
thank you.

[2019-04-09 13:36] #6 closed, assigned to nobody

[2019-08-20 21:28] jimgreer opened #8 "time is about 1 second off between clients"
I'm using NTP to synchronize audio playback across multiple mobile devices, so I need it to be quite accurate.

I notice that there's a little less than 1 second difference across the devices. Is it possible to make this more accurate?

I know that the NTP protocol requires approximately fifteen minutes to settle, but it looks like this implementation relies on a single message to an NTP server. C

[2019-08-22 00:41] jimgreer commented on #8
I've decided to use system time for my application.

[2019-08-22 00:41] #8 closed, assigned to nobody

[2019-08-22 08:30] samuelsarix opened #9 "getNTPOffset gets stuck"
When i use getNTPOffset it sometimes gets stuck at await _datagramSocket.firstWhere

[2019-08-22 11:39] samuelsarix commented on #9
I sent too many requests

[2019-08-22 11:39] #9 closed, assigned to nobody

[2019-08-26 12:08] knezzz commented on #8
Hi @jimgreer,

I was on vacation so I couldn't respond sooner. I think that 15min is for server to settle maybe? I'm using this in my app where margin of error needs to be in ~25ms and it is working on every device I have tested. I could send you that code. Ill probably add it to example in this lib.

[2019-08-26 13:45] jimgreer commented on #8
Thanks Luka. I was ignorant of the settle time for NTP, and trying to use
it on a Flutter mobile app that needed sync much quicker. I realized that
the system time is adequate for my needs.

You can close this issue.

On Mon, Aug 26, 2019 at 5:08 AM Luka Knezic <notifications@github.com>
wrote:

[2020-02-04 04:27] yusrenaltair opened #10 "How to Handle SocketException: Failed host lookup: 'pool.ntp.org' ?"
I tried your package and tested "What if the internet connection suddenly lost?"
And the result :
[code]
I want to know how to handle this problem?
Thanks a lot.

[2020-02-04 10:09] knezzz commented on #10
Hmm, well for now I think easiest thing would be to either wrap the call with try/catch or make your logic before making NTP call. But I was thinking of rewriting this a bit to make it easier to use and more robust, so if you make any changes feel free to make PR :)

[2020-02-06 04:01] yusrenaltair commented on #10
I currently use a connectivity 0.4.6+2 package to monitor the network. The results are quite satisfying.
Thanks

[2020-02-06 04:01] #10 closed, assigned to knezzz

[2020-02-18 16:20] JankoLancer opened #12 "Disk caching"
Hi, thank you for the plugin.

The plugin works fine but is too dependent on the internet.
Proposal for improvement includes adding caching of NTP time od disk, like in android and ios TrueTime plugin.

[2020-02-19 10:36] knezzz commented on #12
Hmm, I'll probably make new lib just for flutter then, the idea behind this lib is no flutter/platform dependencies, so it can even be run in the command line as well.
I'll have to see if I can include stuff like that without actually introducing dependency that will break my wanted purpose of this lib.

[2020-04-09 12:28] lts1610 opened #13 "Socket Exception"
Hi @knezzz ,
I'm using NTP in my project, and I call `getNTPOffset` multiple times. Sometimes,  it throws Socket Exception

I think `RawDatagramSocket` should be closed, but it was not.

Thank you,

[2020-04-22 16:41] #13 closed, assigned to knezzz

[2020-04-22 16:42] knezzz commented on #13
Fixed in 1.0.6

[2020-05-08 18:08] amatveiakin opened #15 "getNtpOffset fails on web with “Unsupported operation: InternetAddress.lookup”"
Does ntp package support web? Web isn't explicitly mentioned in the list of supported platforms at https://pub.dev/packages/ntp, but I was under impression that the package is written in native dart and should work on all platforms.

However when I try to call `getNtpOffset` from a web app, it fails with “Unsupported operation: InternetAddress.lookup”.

Tested in Firefox and Chrome, in a debug bui

[2020-05-10 17:19] knezzz commented on #15
Thanks for reporting the issue :D

Looks like I'll have to find better solution for this.
This is because `dart:io` is [not supported on web](https://github.com/flutter/flutter/issues/39998).

[2020-05-10 21:58] amatveiakin commented on #15
Thanks! I'm a bit confused about the status of this issue now :) Was 0f0d1a4 supposed to work around `dart:io` problem?

I've updated to the new version and now `getNtpOffset` throws an `UnimplementedError`.

[2020-05-11 07:56] knezzz commented on #15
It was supposed to fix it yeah. There was package I found `universal_io` that is supposed to work on web, but it was not working when I tested it so I reopened the issue :/ (github automatically closes the issue if issue number is in commit message)

[2020-05-21 03:22] pav3lo commented on #9
Sometimes it get stuck, why?

[2020-05-21 07:13] knezzz commented on #9
@pav3lo Do you have some minimal code example where this error occurs?

[2020-05-21 12:01] pav3lo commented on #9
When i run this from main, sometimes it gets freeze:
 print(await NTP.getNtpOffset(localTime: DateTime.now()));
  print(await NTP.getNtpOffset(localTime: DateTime.now()));
  print(await NTP.getNtpOffset(localTime: DateTime.now()));
  print(await NTP.getNtpOffset(localTime: DateTime.now()));
  print(await NTP.getNtpOffset(localTime: DateTime.now()));
  print(await NTP.getNtpOffset(localTime: DateTi

[2020-05-21 12:11] knezzz commented on #9
From [NTP pool website](https://www.ntppool.org/en/use.html):

You are not supposed to use it like that, you should call it only once (initialization of the app) save it, and then load it if you need it again.
Try not to call it that frequently, or change ntp server to some other that might handle that (like maybe `time.google.com`). But I think eventually they will start timeouting you as well.

[2020-06-10 08:34] ioridev opened #16 "Does not work on iPhone connected to ipv6 only"
Does not work on iPhone connected to ipv6 only.
So Apple store review will be rejected.
What is the workaround.

[2020-06-12 20:23] gapspt opened #17 "Large offset on the first getNtpOffset call"
For a device that is time synchronized, the first time the getNtpOffset is called it yields a large offset (usually around 2 seconds) but on subsequent calls it will give a more realistic value (around 50 milliseconds).
This is probably due to the initialization phase (either the sockets that the plugin uses need some warming up, or the actual application starting up is taking too many resources).

[2020-06-15 08:04] knezzz commented on #17
Fixed with #18

[2020-06-15 08:04] #17 closed, assigned to nobody

[2020-07-02 09:28] #16 closed, assigned to nobody

[2020-07-13 21:05] expilu commented on #15
Interested in support for web too :)

[2020-07-15 09:40] knezzz commented on #15
Okay, will look up how can I make it work on web as well :)

[2020-08-15 11:57] fonkamloic opened #21 "NTP.now() and NTP.getNtpOffset() taking forever to return value."
Both functions take forever to execute.

Trying NTP.now().then() yields nothing meanwhile, using an await puts my app in a deadlock.

I'm currently using Flutter 1.20.2 and Dart 2.9.1 on a MacOX

[2020-08-15 14:57] rajveermalviya commented on #21
you can try changing `lookUpAddress`

default is `pool.ntp.org`

alternatives are:
- `time.google.com`
- `time.cloudflare.com`

[code]

[2020-08-17 02:26] fonkamloic commented on #21
Thanks a ton.

[2020-08-29 03:47] dokenedgar commented on #21
@rajveermalviya Did what you recommended but still the NTP.now() methods takes forever.
Was there anything you did additionally to fix your code @fonkamloic ?

[2020-08-29 04:52] rajveermalviya commented on #21
@dokenedgar `NTP.now()` doesn't support setting custom `lookUpAddress`.

you can create following helper to use custom `lookUpAddress`.

[code]

To change the lookUpAddress
[code]

[2020-08-29 13:42] dokenedgar commented on #21
Thanks for your response @rajveermalviya . Tried it the way you wrote and it worked. However, out of curiosity I tried loading the time using the initial `pool.ntp.org` and it worked, this made me very curious: is it that the pool.ntp.org is experiencing outages of recent? And if you can, which one is more reliable as I have an app in production for a client and getting the network time is crucial

[2020-08-29 14:08] rajveermalviya commented on #21
`pool.ntp.org` is a pool of NTP servers, on doing a DNS lookup it returns the nearest NTP server's IP for your IP address zone.

For me, it sometimes returns IP of `time.cloudflare.com` by default, (location is India).
You can check what server it connects to and also server's response times, for your preference by running
[code]
run it many times and check if `time.cloudflare.com` comes up.
`time

[2020-08-29 14:16] rajveermalviya commented on #21
@dokenedgar
Find more info about pool.ntp.org project here https://www.ntppool.org/en/

[2020-08-30 01:52] dokenedgar commented on #21
Thank you so much @rajveermalviya  I understand the whole concept better now. And the ping tests seem to be showing responses from time.cloudfare.com.
Thanks again.

[2020-09-07 11:33] knezzz commented on #21
I merged PR that adds timeout as well, so that sould help.
I will leave this issue open until I get time to add this to the documentation 😃 or add something to have more options to choose lookup address even for `NTP.now()`

[2020-09-17 13:52] itschrono commented on #15
Hello. How is it going? Do you need a hand?

[2020-09-17 13:57] knezzz commented on #15
Hey @itschrono. Sure if you have time I can assign it to you.
I didn't have much luck with universal_io.

[2020-09-17 15:33] itschrono commented on #15
Ok why not. I need it anyway 😊

De : Luka Knezic <notifications@github.com>
Envoyé : jeudi 17 septembre 2020 15:58
À : knezzz/ntp <ntp@noreply.github.com>
Cc : Antoine BELLAY <antoine@itschrono.com>; Mention <mention@noreply.github.com>
Objet : Re: [knezzz/ntp] getNtpOffset fails on web with “Unsupported operation: InternetAddress.lookup” (#15)

Hey @itschrono<https://github.com/itschrono>. Sure i

[2020-09-22 19:31] nelsonjohn045 commented on #15
Hi. when can we expect an update on this?

[2020-09-22 20:00] itschrono commented on #15
Hello Nelson. I don't have much time right now but I'll be in touch soon I hope...

Cordialement
Best Regards,
Antoine BELLAY
Software Manager

23 rue du Comté de Montbéliard - 25660 Montfaucon – FRANCE
tél: +33(0) 3 81 57 52 09
www.itschrono.com<http://www.itschrono.com> - www.its-events.com<http://www.its-events.com>

________________________________
From: Nelson John <notifications@github.com>

[2020-09-23 05:13] nelsonjohn045 commented on #15
Thanks I appreciate it. meanwhile I'll try to come up with something, if I do I'll ping here.

[2020-09-23 08:47] itschrono commented on #15
Hello,

dgram and raw socket are a no go in web browser. The only options are: http(s) 1.1 or websocket. This means it is not going to work with this ntp protocol. The api can still be the same if the lookUpAddress support both connection types.

[2020-10-01 14:41] adelhaddad commented on #15
Any news about fix?

[2020-10-01 15:18] itschrono commented on #15
Hello. I did my own stuff. Sorry guys.

Cordialement
Best Regards,
Antoine BELLAY
Software Manager

23 rue du Comté de Montbéliard - 25660 Montfaucon – FRANCE
tél: +33(0) 3 81 57 52 09
www.itschrono.com<http://www.itschrono.com> - www.its-events.com<http://www.its-events.com>

________________________________
From: Addel <notifications@github.com>
Sent: Thursday, October 1, 2020 4:42:07 PM
To: kne

[2020-10-03 11:32] knezzz commented on #15
@itschrono How did you get host address (The `InternetAddress.lookup` part that is failing here)? Can something like that be implemented here?
I was looking today a bit at other solutions but coundn't find anything that works 😞

[2020-10-03 12:07] itschrono commented on #15
Hello. I use a web socket and a custom protocole which do the standard t1, t2, t1p, t2p compute.

Cordialement
Best Regards,
Antoine BELLAY
Software Manager

23 rue du Comté de Montbéliard - 25660 Montfaucon – FRANCE
tél: +33(0) 3 81 57 52 09
www.itschrono.com<http://www.itschrono.com> - www.its-events.com<http://www.its-events.com>

________________________________
From: Luka Knezic <notification

[2020-10-14 04:40] Nver464 opened #23 "NTP web"
When testing with the Web, it prevents it from loading, just browser goes blank.

Use simple code to validate:
 timeNow() async {
    DateTime _myTime;
    if (kIsWeb) {
      _myTime = DateTime.now();
      print("Local");
    } else {
      _myTime = await NTP.now();
      print("NTP");
    }
    print('My time: $_myTime');
  }

PS: use translator, I speak Spanish

[2020-10-30 08:10] apexkid opened #24 "Provide documentation on how to use timeout feature"
The library keep waiting infinitely in case no timeout is provided as there isn't a default value. Plus there isn't any documentation in README to actually tell end users on how to use timeout. Kindly update that.

[2020-12-11 05:33] alien190 opened #25 "Destination Timestamp is the same as Originate Timestamp in _parseData(List<int> data, DateTime time)"
RFC 2030 https://tools.ietf.org/html/rfc2030  page 11-12

But in the NTP offset calculation the same timestamp are using as Originate Timestamp (T1) and Destination Timestamp (T4)

`static Future<int> getNtpOffset({String lookUpAddress = 'pool.ntp.org', int port = 123, DateTime localTime}) async {`
......
` final DateTime time = localTime ?? DateTime.now();`
`_ntpMessage.encodeTimestamp(buffer, 40

[2021-01-05 18:19] ganeshp0001 opened #26 "In one instance NTP.now() returned (Monday, January 1, 1900 12:00:01) (-2208988798384)"
Thank you for this great package :)

We have used NTP packaged in one of our app to capture start / end time for the sessions.
In one instance time captured was
(Monday, January 1, 1900 12:00:01) (-2208988798384)

I am not sure how or what is the issue. Can you please provide some details how this could have happened. I can not say I am able to recreate it, but the time captured is received from N

[2021-01-07 08:55] knezzz commented on #26
Hey, Hmm that is weird, If you manage to somehow recreate the issue that would be really helpful.
For now I would suggest using another `lookUpAddress`.

ex.
Google NTP - time.google.com
Or there is huge list of available servers [here](https://gist.github.com/mutin-sa/eea1c396b1e610a2da1e5550d94b0453)
By default lib is using `pool.ntp.org` that is run by volunteers

[2021-01-07 09:35] ganeshp0001 commented on #26
Thanks for the reply.

Yes, it's weird indeed. I could not recreate the issue as the app had been under development for the last 7-8 months and we never saw any such date/value returned by NTP. Right now the app is being used by around 500+ users on the iOS & Android platforms. And it happened only once so far. Maybe I will try to contact the actual user to get information about his device if it w

[2021-01-07 09:35] #26 closed, assigned to nobody

[2021-01-07 14:54] knezzz commented on #26
Okay great 😄

Not sure how exactly pool.ntp works, but it could be possible that some server is not properly setup or had some issues at exact time the request was made. That would also explain the inability to recreate the issue.

Thanks! You too 😄

[2021-01-12 17:24] oonid commented on #15
hi @knezzz
do you think it is possible to construct the InternetAddress if we have the IP Address?
if so, I think one idea is to build DNS utility with the implementation of DNS-over-HTTPS (DoH).
https://developers.google.com/speed/public-dns/docs/doh

this is one example:
https://github.com/Ephenodrom/Dart-Basic-Utils/blob/master/lib/src/DnsUtils.dart

thoughts?

[2021-01-18 11:29] knezzz commented on #15
Hi @oonid, sorry for not getting back sooner, I wanted to reply when I test this but I still didn't have a chance to try it.

Looks promising, and that will solve the web issue for sure so I will definitely try it.

Thanks for suggestion 😄

[2021-01-18 16:42] oonid commented on #15
hi @knezzz
I have added PR #27
would you please review and edit it for better implementation?

[2021-01-19 16:44] #15 closed, assigned to knezzz, itschrono

[2021-01-19 16:44] #23 closed, assigned to nobody

[2021-01-19 16:44] #25 closed, assigned to nobody

[2021-01-19 16:56] knezzz commented on #21
Merged PR where `time.google.com` is default lookup, and you can cnage lookup address when using `.now()`
Available in 1.0.8

Closing this issue now

[2021-01-19 16:56] #21 closed, assigned to nobody

[2021-01-21 10:49] knezzz commented on #25
Forgot to comment, but yeah there was no reason, it was a bug, really nice that you spotted it and reported 😃. Now lib has much better performance (before it was ~100ms off, now it's ~10ms)

Fix is available in 1.0.8 version

Thanks for reporting 😄

[2021-02-16 00:32] ajzome opened #28 "IPv6 only broken with DoH changes"
The addition of DNS over HTTPs has broken use of the plugin on IPv6 only devices (or IPv6 APNs on Android). The issue is this technique only requests 'a' records and not 'aaaa' records (in addition to only parsing ip addresses that match an IPv4 regex). Thus it only returns IPv4 address and the IPv4/IPv6 check always chooses IPv4 (and then fails when connecting to the NTP server).

[2021-02-23 11:55] radvansky-tomas commented on #28
I've added ipv6 regex:
[code]

And extended DOH to return ipv6 too:
[code]

  But code is ALWAYS failing for iPV6 connections:
  It cannot bind to datagram using IPV4 -> IPV6, OR IPV6 -> IPV6

 I tried different permutations and settings, but I cant make it run :(

[2021-03-07 11:44] Peet-A opened #30 "IOS Issue , SocketException ."
hello all. ,
i am using the ntp function , to get the real time ,
`await NTP.now();`

 and i got this exception on ios device  ,
`SocketException: OS Error: Connection reset by peer, errno = 54, address = dns.google.com, port = 53945`

any idea what is wrong !!

[2021-03-07 22:10] oonid commented on #30
hi @Peet-A
have you tried to use the previous version 1.0.7?

[2021-03-08 00:18] Peet-A commented on #30
thanks @oonid  , i did as you said and it's working now , the only thing i did is to remove the little caret syntax (^) :

  ` ntp:^1.0.7`   to ` ntp: 1.0.7`

[2021-03-08 00:52] oonid commented on #30
so I think the problem still related to the new DoH feature (on the latest version).
will wait for the response from @knezzz
going to remove all the DoH, or mix the implementation with InternetAddress.lookup

[2021-03-08 08:05] knezzz commented on #30
Yeah that is most likely due to DoH. I think best thing would be to remove DoH and revert back to InternetAddress.lookup, since DoH didn't really solve any problems for the lib (still not working on the web), it only created more issues.

[2021-03-08 08:09] knezzz commented on #28
There will be an update this week where I will remove DoH since it didn't help with web implementation (not possible) and reverting to InternetAddress.lookup should fix this issue as well.

You can try using earlier version of the lib (before DoH) it should work fine there

[2021-03-10 15:42] ma-ruz commented on #15
Hello,
with 1.0.8 I'm getting this error on web:

Error: UnimplementedError
    at Object.throw_ [as throw] (http://localhost:55438/dart_sdk.js:5348:11)
    at bind (http://localhost:55438/packages/universal_io/src/io_impl_js/sync_socket.dart.lib.js:3434:21)
    at bind.next (<anonymous>)
    at runBody (http://localhost:55438/dart_sdk.js:39211:34)
    at Object._async [as async] (http://localhost

[2021-03-10 15:47] #28 closed, assigned to knezzz

[2021-03-15 17:54] capce commented on #15
I have the exactly same error as @ma-ruz posted.

[√] Flutter (Channel stable, 2.0.2, on Microsoft Windows [Version 10.0.19041.804], locale de-DE)
[√] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[√] Chrome - develop for the web
[√] Android Studio (version 4.1.0)
[√] VS Code (version 1.54.1)
[√] Connected device (2 available)

opened a new issue #32

[2021-03-15 18:10] capce opened #32 "NTP.now() throws UnimplementedError on flutter web"
Hey guys,

got an UnimplementedError Exception when calling NTP.now() resp. getNtpOffset() on Flutter web.
Does somebody know why this happens?

[√] Flutter (Channel stable, 2.0.2, on Microsoft Windows [Version 10.0.19041.804], locale de-DE)
[√] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[√] Chrome - develop for the web
[√] Android Studio (version 4.1.0)
[√] VS Co

[2021-03-22 09:53] zeshuaro opened #33 "Publish null-safety version on pub.dev"
Can we have the null-safety version published on pub.dev? I'm using this package for another package and this is the only one left that hasn't been migrated to null-safety.

[2021-03-25 07:24] yanivshaked commented on #33
@knezzz Any estimation on when will a new version be ready? (I see null safety was already merged)

[2021-03-25 07:55] knezzz commented on #33
Hey yeah sorry, I have few things I want to test before, I'll try to push update this weekend

[2021-03-28 21:40] BWhiteApps commented on #33
@knezzz will there be an update this weekend? We are currently migrating our project and this is the last package we are waiting on.

[2021-03-29 13:15] knezzz commented on #33
Hey, sorry for delay. I published it now and version `2.0.0` is null safe :)

[2021-03-29 13:15] #33 closed, assigned to nobody

[2021-03-29 13:18] knezzz commented on #32
Hey web was just in experimental phase, but as it didn't work and I couldn't fix it.
Web is no longer supported, from PR #29

Version 2.0.0 will no longer show Web compatibility in pub.dev sorry for any inconvenience.

[2021-03-29 13:18] #32 closed, assigned to nobody

[2021-04-18 14:04] shabeenabarde commented on #30
This package gives me the correct time when I am using Wi-Fi, but when i am using cellular data, it gives me the error of SocketException: OS Error: Connection timed out, errno = 110, address = dns.google.com, port = 44198. Why is that?

[2021-04-20 14:46] shabeenabarde opened #34 "iPhone (iOS) loses connection to device when using this package"
I have installed the version ntp: 1.0.7 on my pubspec.yaml, and It works fine with android.

But as soon as I try to fetch it from my iPhone, it exits the app and it says 'Lost connection to device.'

Are there some extra instructions for iOS implementation?

[2021-04-20 15:50] knezzz commented on #34
Can you give some minimal code where you can reproduce the issue? I couldn't reproduce this locally.

[2021-04-20 15:51] knezzz commented on #30
@shabeenabarde Not sure, could you paste the whole log here?

[2021-04-20 15:56] shabeenabarde commented on #30
Weird.. today I am not getting the error. I don't know if it's because I deleted the package from the folder and downgraded to version 1.0.7. If the error persists again, I shall let you know.

[2021-04-27 03:46] uc-dve opened #35 ""TimeoutException after 0:00:05.000000: No stream event""
I am getting this error on some networks. specially when I submit the app to app store for review they rejected my app 5 times  , because this plugin. It does not respond for infinite time until I have set an timeout of 5 seconds.
I am not getting any issue in my network and it worked well.
below is my code can you please check the issue and resolve it. i have tried time.google.com, time.windows.c

[2021-05-03 17:10] shabeenabarde commented on #35
@uc-dve which version are you using?

[2021-05-04 03:38] uc-dve commented on #35
I am using version NTP 2.0.0

[2021-05-04 07:25] shabeenabarde commented on #12
@knezzz did you implement this?

[2021-05-04 09:18] shabeenabarde opened #36 "Not getting the NTP.now()"
So i am using   DateTime tanzaniaLocalTimeFromDateTimeNow = await NTP.now(); in my app and it works fine sometimes, but then sometimes it doesnt give me the value. i tried keeping it in a try and catch but still i dont know what is wrong and why am i not getting the dateTime. My whole app depends on this. I am using version ntp: 1.0.7. Please help

[2021-05-04 09:55] knezzz commented on #36
Hey, how often are you calling this?
It might be best to call it once and same it locally. This can be done by saving ntpOffset and adding that yourself as Duration on DateTime.now().

[2021-05-04 09:56] knezzz commented on #35
How often are you calling this?

[2021-05-04 09:56] knezzz commented on #12
Haven't started on this yet

[2021-05-05 06:52] shabeenabarde commented on #36
Hi, I'm just calling this once. I did the ntpOffset as well but still sometimes i won't be able to get the time from it. So now I have shifted to version ntp:^1.0.8, so far so good.

This error was occurring in the version of 1.0.7.

Let me share that part of my code

[2021-05-05 06:59] shabeenabarde commented on #36
Find below the function i use to call the ntp.now()

[code]

-------------------------------------------

So as you see, i have sprinkled some prints to show me where the issue rises because i am not getting any error. So it always stops in the  **print("After initializeDatabase");** which is before  **DateTime tanzaniaLocalTimeFromDateTimeNow = await NTP.now();**

[2021-05-05 08:10] shabeenabarde commented on #36
Ok, I am facing this issue with version ^1.0.8 as well

[2021-05-06 12:02] uc-dve commented on #35
I am calling it only once while trying to login

[2021-05-17 04:55] uc-dve commented on #35
hello
Any update on the issue?

[2021-05-19 07:39] awaisdev5765 commented on #15
Error: UnimplementedError
at Object.throw_ [as throw] (http://localhost:55438/dart_sdk.js:5348:11)
at bind (http://localhost:55438/packages/universal_io/src/io_impl_js/sync_socket.dart.lib.js:3434:21)
at bind.next ()
at runBody (http://localhost:55438/dart_sdk.js:39211:34)
at Object._async [as async] (http://localhost:55438/dart_sdk.js:39242:7)
at Function.bind (http://localhost:55438/packages/uni

[2021-05-19 07:41] awaisdev5765 commented on #32
Error: UnimplementedError
at Object.throw_ [as throw] (http://localhost:55438/dart_sdk.js:5348:11)
at bind (http://localhost:55438/packages/universal_io/src/io_impl_js/sync_socket.dart.lib.js:3434:21)
at bind.next ()
at runBody (http://localhost:55438/dart_sdk.js:39211:34)
at Object._async [as async] (http://localhost:55438/dart_sdk.js:39242:7)
at Function.bind (http://localhost:55438/packages/uni

[2021-05-19 08:57] awaisdev5765 opened #37 "NTP.now() throws UnimplementedError on flutter web"
got an UnimplementedError Exception when calling NTP.now() resp. getNtpOffset() on Flutter web.
Does somebody know why this happens?

[√] Flutter (Channel stable, 2.0.2, on Microsoft Windows [Version 10.0.19041.804], locale de-DE)
[√] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[√] Chrome - develop for the web
[√] Android Studio (version 4.1.0)
[√] VS Code (version

[2021-05-24 16:52] knezzz commented on #35
Hey sorry for delay. Hmm not really sure, you could try with time.apple.com? Not sure what could cause that since I didn't have problem with app store and this lib.

[2021-05-24 16:54] knezzz commented on #32
Hey @awaisdev5765
I'll just cite comment from above:

[2021-05-24 16:55] knezzz commented on #37
Unfortunately, this package is not supported on the web. But contributions for it are welcome.

[2021-05-24 16:55] #37 closed, assigned to nobody

[2021-05-24 16:57] knezzz commented on #36
Hey sorry for late reply. Are you still facing this issue with 2.0.0? Should work fine now :) If not, changing lookupAddress might help. (pool.ntp.org, time.apple.com)

[2021-05-24 17:00] knezzz commented on #30
This should be fixed with 2.0.0. Closing this, if this is still happening feel free to reopen

[2021-05-24 17:00] #30 closed, assigned to nobody

[2021-05-25 09:03] shabeenabarde commented on #35
Omg! Same with me! My app got rejected as well more than 5 times and i am using this package for all my apps (which are like 5 apps in total). They send me screenshots that they are getting the network error but on my side it works fine. Please let me know if you have found an alternative.

[2021-05-25 09:05] shabeenabarde commented on #35
time.apple.com does not work on my side.

[2021-05-25 10:18] uc-dve commented on #35
I didn't get any alternative yet I am using my website API to get current time.
Just wrap it with try-catch block and implement your own logic on catch block when timeout exception.

[code]

[2021-05-30 19:55] it-one-mm opened #38 "ntp package is not working when turn turbo vpn on my phone."

[2021-06-02 15:02] comatory opened #39 "What is the difference between using `NTP.now()` or adding offset to `DateTime.now()`"
So I don't understand what is the difference between this:

[code]

and

[code]

Can this approach be used interchangeably?

[2021-06-02 15:25] knezzz commented on #39
Hi,

No difference, NTP.now is just a helper function so you can get time in one line instead of 3 :)

Here is code for NTP.now: https://github.com/knezzz/ntp/blob/59794add1157cceb2d96e63f92f76265925b22e8/lib/ntp/ntp.dart#L68-L83

Closing this

[2021-06-02 15:25] #39 closed, assigned to nobody

[2021-06-02 15:26] knezzz commented on #38
Hi,
- Do you have some logs?
- Did it just timeout or?
- Did you try using other lookup addresses?

[2021-06-09 13:39] Ascenio commented on #12
Won't caching it only bring inconsistency? Because you would have to pick whatever time you saved and add the difference to make it match current time. At this point you're introducing complexity and possibly bugs, it would be easier to just make another NTP call, it's supposed to be fast.

[2021-06-11 06:45] #34 closed, assigned to nobody

[2021-07-24 07:56] MonkeyDrone opened #40 "NTP Offset, Pub.dev example uses milliseconds for offset and herein lines the issue"
I don't know if it's just me but when I use milliseconds for the NTP Offset value, the result time is not correct, it is off by a considerate amount. But when I tested it with microseconds, it showed me the proper results.

So this might be more of an issue with the example shown on pub.dev then with the plugin itself.

[2021-07-24 19:55] shabeenabarde commented on #36
Yes I am facing this with 2.0.0 as well.

[2021-07-26 16:13] Ascenio commented on #12
Just my 2 cents. I don't think that's a responsability of the package. The client can easily implement it and so keep the package's complexity low. But there could be a in-memory cache at least.

[2021-07-29 07:27] shabeenabarde commented on #35
Hey, still facing this issue with ntp 2.0.0. Is there a fix?

[2021-07-30 09:33] shabeenabarde commented on #35
So I can confirm this package is causing the iOS version to be rejected.

I use this package for my API Validations. They weren't able to login into it and rejected the app.

This time, I submitted the app again and used **http://worldtimeapi.org/api/timezone/Africa/Nairobi** to get my time when i was calling my login API and they were able to log in.

But it still got rejected because when they w

[2021-08-12 16:06] shabeenabarde commented on #35
@knezzz ??

[2021-08-13 14:19] knezzz commented on #35
Not sure why this is happening to you.

I have multiple apps on appStore and know of few apps (Some apps that use it for 2FA) that use this lib and they never had any problems nor were they ever rejected because they used this lib.

My suggestion for now would be to call NTP offset and remember offset locally, don't call NTP.now() since that will return DateTime and you cannot reuse that, but you

[2021-08-26 10:19] alenen-ok commented on #36
hi, I've got this issue. My app freezes because of this infinite loop inside the library,NTP.now() method doesn't return any value. Cannot find any proper solution or alternative way to check network time in Flutter.

[2021-08-30 07:37] mr-mmmmore commented on #16
My app has also been rejected twice by Apple. The problem was that the NTP request was running endlessly without succeeding and since the app was awaiting the result it was stuck. It seemed to happen only with Apple reviewers.

The solution was to define a timeout when calling `NTP.getNtpOffset` (or `NTP.now`) as explained [in this issue](https://github.com/knezzz/ntp/issues/35#issue-868426412).

[2021-08-30 07:49] mr-mmmmore commented on #35
I have the same problem: my app got rejected twice on the App Store.

I've been using the approach you have just recommanded @knezzz: fetching the offset once in a while and storing it locally to use it when needed (I had to do it because I need true utc time while in offline mode). I am also calling `NTP.getNtpOffset()` from inside a `try`/`catch` block.

As for @uc-dve, the NTP request didn't se

[2021-08-30 07:52] mr-mmmmore commented on #35
#36 may also be a duplicate as the OP talks about a `NTP.now()` request that never ends.

[2021-08-30 13:01] knezzz commented on #35
@mr-mmmmore Yeah fix with default timeout seems like best option. I will add default timeout to `NTP.now()` and that should fix few issues.
But yeah, this is imagined as low level library just to fetch the NTP time. Keeping time synced, managing timeout and possibly saving it to local database is left to the user. Since this will work in pure dart on all platforms, and adding such functionality ca

[2021-09-01 14:38] mr-mmmmore commented on #35
You mean to `NTP.getNtpOffset()` don't you? Since `now()` uses `getNtpOffset()`.

[2021-09-03 21:13] nilsreichardt commented on #40
Same for me

[2021-09-16 14:07] KhalidScrypt commented on #36
I had the same issue and indeed, changing the lookupAddress fixed it for some reason.

[2021-09-21 07:40] shabeenabarde commented on #36
Which lookupAdress do you use?

[2021-09-21 13:28] KhalidScrypt commented on #36
I used this one: pool.ntp.org and it worked.
When not specifying the lookupAddress `await NTP.now()` wasn't returning anything and my code was stuck.

[2021-10-17 19:56] safield commented on #37
Should this not be left open though until web is implemented?

[2021-10-20 09:03] bhanuka96 opened #41 "wrong time if change device time zone"
Is there any solution if change time zone by user?

[2021-11-03 19:44] nilsreichardt commented on #36
We're having this issue as well with `await NTP.getNtpOffset`. Some of our users complained about this, and today I had the issue, too. The future just doesn't complete. The only workaround is to add a `.timeout(const Duration(seconds: 2)` and load from another resource the time.

We are using `2.0.0`.

[code]

Edit: With `pool.ntp.org` it's also working for me 👍

[2021-11-18 03:14] xiejinpeng007 commented on #36
I have the same issue with version  2.0.0 ,  change address to `pool.ntp.org` look fine yet .
Is this a problem from time.google.com ?

[2021-12-16 09:32] itldeveloper4 commented on #41
@bhanuka96 which version are you using?

[2021-12-17 04:38] bhanuka96 commented on #41
`2.0.0` version. return time also change if change time zone from the device

[2021-12-17 08:20] erpambudi commented on #41
I am also the same. I tried it on a real device.

[2022-01-01 10:59] Shlaayl commented on #36
I have same problem my app freeze because of NTP.now() in ios
I use 2.0.0

[2022-01-20 16:02] Toolenaar commented on #15
It seems this error still exists

[2022-01-21 19:35] bdytx5 opened #42 "need web"
The gaping issue I see here is no support for flutter web.

Thanks,
Brett

[2022-04-27 11:25] xmine64 commented on #42
I'm not sure if it's possible to implement it in web, because of limitations of browser and javascript.

[2022-05-15 17:17] abel-123 commented on #41
Same issue here. Changing the timezone on the emulator/ device somehow changes the ntp time. The result is that "now = await NTP.now();" returns local time instead of utc.
Using version 2.0.0.

[2022-05-23 10:51] michael-attal commented on #41
Same here.
I see in ntp.dart that the local time is used to make the query request.
Someone could add a way to use the NTP without local time and ask for a pull request?
I will try my own and let you know

[2022-05-23 13:08] michael-attal commented on #41
For those like me who need a specific time that's not depending on the user device, you can just use this free api : https://worldtimeapi.org/pages/faqs#future-plans

Example of use :

`    final Response response = await get(Uri.http("worldtimeapi.org", "/api/timezone/Europe/Paris"));
      final Map<String, dynamic> dataWorldTimeApi = jsonDecode(response.body);

      parisTimeNow = DateTime.par

[2022-07-03 20:07] Joseph-Nathan commented on #42
Web badly needitly ,
If it can't work with NTP base ,
Are you found an other solution. ?

[2022-07-03 22:44] xmine64 commented on #42
I implemented NTP functionality server-side and provided a HTTP-based API to get time.

[2022-07-08 20:51] Joseph-Nathan commented on #42
can you provide demo code ?

[2022-07-31 07:55] zitob9 commented on #42
any update guys

[2022-07-31 07:58] xmine64 commented on #42
I'm sure it's not possible to implement NTP in javascript, so web support is not possible at all. Browsers limit sending web requests from javascript for security reasons, even so you can only send http requests.

[2022-08-05 14:22] JohnnHidalgoCanaviri opened #43 "Unhandled Exception: HandshakeException: Handshake error in client (OS Error: CERTIFICATE_VERIFY_FAILED: certificate is not yet valid(handshake.cc:354))"
Im trying to compile the base example, but console responce me Unhandled Exception: CERTIFICATE_VERIFY_FAILED

`import 'package:ntp/ntp.dart';

Future<void> main() async {
  [
    'time.google.com',
    'time.facebook.com',
    'time.euro.apple.com',
    'pool.ntp.org',
  ].forEach(_checkTime);
}

Future<void> _checkTime(String lookupAddress) async {
  DateTime _myTime;
  DateTime _ntpTime;

  ///

[2022-09-19 09:43] shabeenabarde commented on #41
Anybody got a fix for this?

[2022-09-27 09:03] thao-vu-0106 opened #45 "Need notification when no internet connection"

[2022-09-28 19:41] #43 closed, assigned to nobody

[2022-10-25 12:35] iamhx commented on #21
One of my user has encountered a problem with my app loading forever and I believe this issue could have been the problem, as all my own APIs have timeouts.

They have mentioned that they were not able to load my app when using the WiFi of their workplace, but otherwise on cellular data and home WiFi everything is normal.

My question is, what seems to be causing this issue such that certain netwo